{% extends "blog/base.html" %}
{% load static %}
{% block content%}


<!-- Start posts-entry -->

<section class="section">
	<div class="container">

		<div class="row mb-4">
			<div class="col-sm-6">
				{%for cat in obj.categories.all%}
				<h2 class="posts-entry-title">{{cat}}</h2>
				{%endfor%}
			</div>
			<div class="col-sm-6 text-sm-end"><a href="{% url 'blog-blogging' %}" class="read-more">View All</a></div>
		</div>

		<div class="row">
			{%for obj in posts %}
			<div class="col-lg-4 mb-4">
				<div class="post-entry-alt">
					<a href="" class="img-link"><img src="{{obj.thumbnail.url}}" alt="Image" class="img-fluid"></a>
					<div class="excerpt">


						<h2><a href="">{{obj.title}}</a></h2>
						<div class="post-meta align-items-center text-left clearfix">
							<figure class="author-figure mb-0 me-3 float-start"><img src="{{obj.author.profile_picture.url}}"
									alt="Image" class="img-fluid"></figure>
							<span class="d-inline-block mt-1">By <a href="#">{{obj.author}}</a></span>
							<span>&nbsp;-&nbsp; {{obj.timestamp}}</span>
						</div>

						<p>{{obj.content|safe|truncatechars:150}}</p>

						<p><a href="{{obj.get_absolute_url}}" class="read-more">Continue Reading</a></p>
					</div>
				</div>
			</div>
			{%endfor%}

		</div>

	</div>

</section>


<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
	<div class="spinner-border text-primary" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

{% endblock content %}